<%- include('../partials/head'); %>
<body class="">
    <div class="page-container">
        <%- include('../partials/sidebar'); %>
        <div class="page-content">
        <%- include('../partials/headerNew'); %>

            <!-- main content disini -->
            <div class="main-wrapper">
                <div class="row">
                    <div class="col">
                        <h3>All Orders</h3>
                        <table id="dtableorders" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Nama Customer</th>
                                    <th>Alamat</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < data.length; i++){ %>
                                <tr>
                                    <td><%= data[i].IdOrders %></td>
                                    <td><%= data[i].NamaCustomers %></td>
                                    <td><%= data[i].Alamat %></td>
                                    <td>
                                        <form action="/admin/orders/delete/<%= data[i].Id %>?_method=DELETE" method="POST">
                                            <a href="/admin/orders/<%= data[i].Id %>/edit" class="btn btn-primary">Edit</a>
                                            <a href="/admin/orders/<%= data[i].Id %>/detail" class="btn btn-success">Detail</a>
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Apakah anda yakin ingin menghapus <%= data[i].IdOrders %>')" >Delete</button>
                                        </form>

                                    </td>
                                </tr>
                                <%} %>
                            </tbody>
                        </table>

                    </div>

                    
                </div>
            </div>
            <!-- end main content -->
            <%- include('../partials/footer'); %>
                              
        </div>
    </div>


    </div>
</body>
<%- include('../partials/script'); %>
<script type="text/javascript">
$(document).ready(function() {
    "use strict"
    $('#dtableorders').DataTable()
})
</script>
</html>