<%- include('../partials/head'); %>


    <body class="">
        <div class="page-container">
            <%- include('../partials/sidebar'); %>
            <div class="page-content">
            <%- include('../partials/headerNew'); %>

                <!-- main content disini -->
                <div class="main-wrapper">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="alert alert-success" role="alert">
                                        Wait 10 seconds, you will see a expiring warning. Wait 10 more seconds and you will see that you have been logged out.
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
                <!-- end main content -->
                <%- include('../partials/footer'); %>
                                  
            </div>
        </div>


        </div>
    </body>
    <%- include('../partials/script'); %>
    </html>