<%- include('../partials/head'); %>
<body class="">
    <div class="page-container">
        <%- include('../partials/sidebar'); %>
        <div class="page-content">
        <%- include('../partials/headerNew'); %>

            <!-- main content disini -->
            <div class="main-wrapper">
                <div class="row">
                    <div class="col">
                        <h3>All Services</h3>
                        <table id="dtableorders" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nama Layanan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((u) =>  { %>
                                <tr>
                                    <td>
                                        <%= u.ServiceName%>
                                    </td>
                                    <td>
                                        <form action="/admin/services/delete/<%= u.Id %>" method="post">
                                            <a href="/admin/services/edit/<%= u.Id %>/" class="btn btn-primary">Edit</a>
                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Apakah anda yakin ingin menghapus <%= u.ServiceName %>')" >Delete</button>
                                        </form>

                                    </td>
                                </tr>
                                <%}) %>
                            </tbody>
                        </table>

                    </div>

                    
                </div>
            </div>
            <!-- end main content -->
            <%- include('../partials/footer'); %>
                              
        </div>
    </div>


    </div>
</body>
<%- include('../partials/script'); %>
<script type="text/javascript">
$(document).ready(function() {
    "use strict"
    $('#dtableorders').DataTable()
})
</script>
</html>