<%- include('./public-partials/head'); %>
<%- include('./public-partials/navbar'); %>

	<!-- Page Content Start -->
	<section class=" p-t-120 p-b-120">
		<div class="container">
			<div class="row">
				<!-- Left Start -->
				<div class="col-lg-8 sm-m-b-30">
					<div id="content">
						<div class="row m-b-30">
							<!-- item start -->
							<!-- <div class="col-lg-12">
								<div class="box border-box rounded overflow-hidden m-b-30">
									<div class="p-25">
										<h5 class="">Kiloan - Cuci Basah</h5>
										<p class="">Jumlah Kiloan 5 Kg</p>
									</div>
								</div>
							</div> -->
							<!-- item end -->

                            <!-- item start -->
                            <div class="col-lg-12 col-md-12 m-b-30">
                                <div class="box border-box overflow-hidden rounded">
                                    <div class="p-25">

                                        <h5 class="m-b-15">Daftar Pemesanan</h5>
                                        <div class="divider m-b-20"></div>

                                        <% if (pembayaran.length > 0) { let i = 0; let b;%>
                                            <% for (let items of pembayaran) { i++ %>
                            
                                        <!-- profile card start -->
                                        <div class="d-flex align-items-center m-b-20">
                                            <div class="content w-100 flex-1" id="<%= resi.resi %>_<%= items.id %>">
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-6">
                                                        <h6 class=""><%= items.ServiceName %> - <%= items.namaItem %></h6>
                                                        <span class=""><%= items.ket %>, Jumlah <%= items.quantity %></span>
                                                    </div>
                                                    <div class="col-1 text-right">
                                                    </div>
                                                    <div class="col-5 text-right row">
                                                        <div class="col-9">
                                                            <span class=""><%= items.tprice %></span>
                                                        </div>
                                                        <div class="col-3">
                                                            <a href="#" class="f-s-16 text-color-reset link-text-d-n" onclick="deleteOrder('<%= resi.resi %>_<%= items.id %>')">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <% } %>
                                        <% } else { %>
                                            <h1>No Products Found!</h1>
                                        <% } %>
                                        <div class="divider m-b-20"></div>

                                        <!-- <div class="divider m-b-20"></div> -->
                                        <!-- profile card end -->
                            
                                        <!-- <div class="row d-flex align-items-center">
                                            <div class="col-5">
                                                <a href="#" class="f-s-16 text-color-reset link-text-d-n">
                                                    <i class="fa fa-trash pull-left f-s-16 l-h-16 m-r-10"></i>
                                                    <span class="pull-left f-s-16 l-h-18">Hapus</span>
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <a href="#" class="button button-primary-soft transition-3d-hover m-w-100">Details</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- item end -->

                            <!-- item start -->
                            <div class="col-lg-12 col-md-12 m-b-30">
                                <div class="box border-box overflow-hidden rounded">
                                    <div class="p-25">

                                        <h5 class="m-b-15">Layanan Antar</h5>
                                        <div class="divider m-b-20"></div>

                                        

                                        <!-- profile card start -->
                                        <div class="d-flex align-items-center m-b-10">
                                            <div class="content w-100 flex-1">
                                                <div class="row d-flex align-items-lg-center flex-lg-row flex-column">
                                                    <div class="col-lg-7 col-sm-12 mb-2">
                                                        <h6 class="">Tambahkan Layanan Antar?</h6>
                                                        <span class="">Hanya tersedia di wilayah Jabodetabek*</span>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 text-lg-right d-flex flex-row justify-content-sm-start">

                                                        <span class="">Mohon maaf, Layanan ini sedang tidak tersedia</span>

                                                        <!-- <div class="col-8">
                                                            <a href="javascript:;" class="button button-primary-soft transition-3d-hover">Ya, Boleh</a>
                                                        </div>
                                                        <div class="col-4 d-flex align-items-center">
                                                            <a href="javascript:;" class=""><span>Tidak</span></a>
                                                        </div> -->
                                                    </div>
                                                </div>

                                                <!-- <div class="d-flex flex-lg-row flex-sm-column align-items-lg-center ">
                                                    <div class="col-lg-6 col-md-6 col-12 m-b-10 justify-content-start">
                                                        <h6 class="">Tambahkan Layanan Antar?</h6>
                                                        <span class="">Hanya tersedia di wilayah Jabodetabek*</span>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-12 d-flex flex-row">
                                                        <div class="col-8">
                                                            <a href="javascript:;" class="button button-primary-soft transition-3d-hover">Ya, Boleh</a>
                                                        </div>
                                                        <div class="col-3 d-flex align-items-center">
                                                            <span class="">Tidak</span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="divider m-b-20"></div>

                                        <!-- 

                                        <div class="row d-flex align-items-center">
                                            <div class="col-5">
                                                <a href="#" class="f-s-16 text-color-reset link-text-d-n">
                                                    <i class="fa fa-trash pull-left f-s-16 l-h-16 m-r-10"></i>
                                                    <span class="pull-left f-s-16 l-h-18">Hapus</span>
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <a href="#" class="button button-primary-soft transition-3d-hover m-w-100">Details</a>
                                            </div>
                                        </div> -->
                                    
                                    </div>
                                </div>
                            </div>
                            <!-- item end -->
						
                            <!-- item start -->
                            <div class="col-lg-12 col-md-12 m-b-10">
                                <div class="box border-box overflow-hidden rounded">
                                    <div class="p-25">

                                        <h5 class="m-b-15">Data Pelanggan</h5>
                                        <div class="divider m-b-20"></div>

                                        <% if (datauser.length > 0) { let i = 0; let b;%>
                                        
                            
                                        <!-- profile card start -->
                                        <div class="d-flex align-items-center m-b-15">
                                            <div class="content w-100 flex-1">
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-12 row m-b-20">
                                                        <div class="col-lg-7 col-sm-12">
                                                            <div class="form-item sm-m-b-30">
                                                                <label class="lbl" for="form1">Email</label>
                                                                <input class="input" type="text" id="form1" placeholder="Email" value="<%= datauser[0].EMAIL %>" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 col-sm-12">
                                                            <div class="form-item sm-m-b-30">
                                                                <label class="lbl" for="form1">Nomor Telepon</label>
                                                                <input class="input" type="text" id="form1" placeholder="Nomor Telepon"  value="<%= datauser[0].NOMORTELEPON %>" readonly />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 row m-b-15">
                                                        <div class="col-lg-7 col-sm-12">
                                                            <div class="form-item sm-m-b-30">
                                                                <label class="lbl" for="form1">Nama Lengkap</label>
                                                                <input class="input" type="text" id="form1" placeholder="Nama Lengkap"  value="<%= datauser[0].NAMALENGKAP %>" readonly/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 col-sm-12">
                                                            <div class="form-item sm-m-b-30">
                                                                <label class="lbl" for="form1">Kode Pos</label>
                                                                <input class="input" type="text" id="form1" placeholder="Kode Pos"  value="<%= datauser[0].KODEPOS %>" readonly/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 row m-b-15">
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div class="form-item sm-m-b-30">
                                                                <label class="lbl" for="form3">Alamat</label>
                                                                <textarea class="textarea" id="form3" rows="7" placeholder="Alamat" readonly><%= datauser[0].ALAMAT %></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% } else { %>
                                            <h1>Gagal Memuat Data</h1>
                                        <% } %>
                                        <div class="divider m-b-20"></div>

                                        <!-- <div class="divider m-b-20"></div> -->
                                        <!-- profile card end -->
                            
                                        <!-- <div class="row d-flex align-items-center">
                                            <div class="col-5">
                                                <a href="#" class="f-s-16 text-color-reset link-text-d-n">
                                                    <i class="fa fa-trash pull-left f-s-16 l-h-16 m-r-10"></i>
                                                    <span class="pull-left f-s-16 l-h-18">Hapus</span>
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <a href="#" class="button button-primary-soft transition-3d-hover m-w-100">Details</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- item end -->

                            <!-- item start -->
                            <div class="col-lg-12 col-md-12">
                                <div class="box border-box overflow-hidden rounded">
                                    <div class="p-25">

                                        <h5 class="m-b-15">Metode Pembayaran</h5>
                                        <div class="divider m-b-20"></div>

                                        
                                        <div class="d-flex align-items-center m-b-15">
                                            <div class="content w-100 flex-1">

                                                <div class="row d-flex align-items-center flex-lg-row flex-column">
                                                    <div class="col-lg-7 col-sm-12 mb-2 d-flex align-items-center">
                                                        <h6 class="">Kartu Kredit atau Debit (Mastercard, Visa, Amex, JPL)</h6>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 d-flex flex-row justify-content-end">
                                                        <a href="javascript:;" class="button button-primary-soft transition-3d-hover mb-2" disablled>Belum Tersedia</a>
                                                    </div>
                                                </div>
                                                <div class="divider m-b-20 mt-2"></div>

                                                <div class="row d-flex align-items-center flex-lg-row flex-column">
                                                    <div class="col-lg-7 col-sm-12 mb-2 d-flex align-items-center">
                                                        <h6 class="">Go-Pay</h6>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 d-flex flex-row justify-content-end">
                                                        <a href="javascript:;" class="button button-primary-soft transition-3d-hover mb-2"  disablled>Belum Tersedia</a>
                                                    </div>
                                                </div>
                                                <div class="divider m-b-20 mt-2"></div>

                                                <div class="row d-flex align-items-center flex-lg-row flex-column">
                                                    <div class="col-lg-7 col-sm-12 mb-2 d-flex align-items-center">
                                                        <h6 class="">Cash on Delivery (COD)</h6>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-12 d-flex flex-row justify-content-end">
                                                        <a href="javascript:;" class="button button-primary transition-3d-hover mb-2">Dipilih</a>
                                                    </div>
                                                </div>
                                                <div class="divider m-b-20 mt-2"></div>

                                                
                                            </div>
                                        </div>

                                        <!-- <div class="divider m-b-20"></div> -->
                                        <!-- profile card end -->
                            
                                        <!-- <div class="row d-flex align-items-center">
                                            <div class="col-5">
                                                <a href="#" class="f-s-16 text-color-reset link-text-d-n">
                                                    <i class="fa fa-trash pull-left f-s-16 l-h-16 m-r-10"></i>
                                                    <span class="pull-left f-s-16 l-h-18">Hapus</span>
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <a href="#" class="button button-primary-soft transition-3d-hover m-w-100">Details</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- item end -->
                        
                        
                        
                        
                        
                        </div>
                        
					</div>
				</div>
				<!-- Left End -->

				<!-- Right Start -->
				<div class="col-lg-4">
					<aside id="sidebar">
                        <div id="content">
                            <div class="row">    
                                <!-- item start -->
                                <div class="col-lg-12 col-md-12 sm-m-b-30">
                                    <div class="box border-box overflow-hidden rounded">
                                        <div class="p-25">
    
                                            <h5 class="m-b-15">Ringkasan Pembayaran</h5>
                                            <div class="divider m-b-20"></div>
    
                                            
                                
                                            <!-- profile card start -->
                                            <div class="d-flex align-items-center m-b-20">
                                                <div class="content w-100 flex-1">
                                                    <div class="row d-flex align-items-center">

                                                        <div class="container row">
                                                            <div class="col-10">
                                                                <span class="font-weight-bold">Kode Resi #<%= resi.resi %></span>
                                                            </div>
                                                            <!-- <div class="col-4 text-right">
                                                                <span class=""></span>
                                                            </div> -->
                                                        </div>
                                                        
                                                        <div class="container row">
                                                            <div class="col-8">
                                                                <span class="">Biaya Pemesanan</span>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <span class="" id="total"><%= pembayarantotal.total %></span>
                                                            </div>
                                                        </div>

                                                        <!-- <div class="container row">
                                                            <div class="col-8">
                                                                <span class="">Layanan Antar Jemput</span>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <span class="">Free</span>
                                                            </div>
                                                        </div> -->

                                                        <div class="container row">
                                                            <div class="col-8">
                                                                <span class="">Tax (20%)</span>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <span class="" id="tax"><%- pembayarantotal.tax %></span>
                                                            </div>
                                                        </div>

                                                        <div class="container row">
                                                            <div class="col-8">
                                                                <span class="">Metode Pembayaran</span>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <span class="" id="metodebayar">COD</span>
                                                            </div>
                                                        </div>

                                                        <div class="container row">
                                                            <div class="col-8">
                                                                <span class="">Total Bayar</span>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <span class="" id="wtax"><%- pembayarantotal.wtax %></span>
                                                            </div>
                                                        </div>
                                                        
                                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="divider m-b-20"></div>
                                            <!-- profile card end -->
                                
                                            <div class="row d-flex align-items-center">
                                                <div class="col-12">
                                                    <form action="/pelunasan" id="form-total" method="post">
                                                        <input id="total" type="hidden" name="resi" value="<%= resi.resi %>">
                                                        <input id="total" type="hidden" name="mbayar" value="1">
                                                    <a href="#" onclick="document.getElementById('form-total').submit();" class="button button-primary-soft transition-3d-hover m-w-100">Selesaikan Pemesanan</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item end -->
                            </div>
                            
                        </div>
					</aside>
				</div>
				<!-- Right End -->
			</div>
		</div>
	</section>
	<!-- Page Content End -->



<%- include('./public-partials/footer'); %>
<%- include('./public-partials/script'); %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>

    function deleteOrder(id){
        
        var r = confirm('Yakin untuk menghapus?');
        if (r == true) {

            var identifier = id.split('_');

            var x = document.getElementById(id).style.display = "none";

            $.ajax({
                url: "/deleteOrderPembayaran",
                type: "POST",
                data: {
                    'Orders_logId': identifier[0],
                    'items_logId': identifier[1],
                    'status_logId': '2',
                },
                success: function(data){
                    console.log(data);

                    let datas = data.pembayarantotal;

                    document.getElementById("total").innerHTML = datas.total;
                    document.getElementById("tax").innerHTML = datas.tax;
                    document.getElementById("wtax").innerHTML = datas.wtax;

                    alert('Item terhapus !');
                },
                error: function(data){
                    alert('Data gagal terhapus');
                    document.getElementById(id).style.display = "block";
                },
            });
        }
       
    }

</script>