<%- include('./public-partials/head'); %>
<%- include('./public-partials/navbar'); %>


	<!-- Map Start -->
	<section class="m-t-80 h-500 map-canvas" data-zoom="12" data-lat="-37.811085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Bodrum" data-icon-path="../assets/images/marker/1.png" data-content="455 West Orchard Street<br>Kings Mountain, NC 28086<br><br><a href='mailto:support@yourbrand.com'>support@yourbrand.com</a>"></section>
	<!-- Map End -->


	<!-- Contact Items Start -->
	<section class="m-t-n100">
		<div class="container">
			<div class="row">
				<!-- item start -->
				<div class="col-lg-3 col-sm-6 m-b-30">
					<div class="box border-box rounded p-25 text-center transition-3d-hover">
						<div class="square-80 box rounded m-auto d-flex center-center m-b-30">
							<i class="fa fa-location-arrow f-s-22 text-color-primary"></i>
						</div>
						<h6 class="m-b-10">Laundry Diterima</h6>
						<span>Tercatat : <%= data[0].timestamp %></span>
					</div>
				</div>
				<!-- item end -->

				<!-- item start -->
				<div class="col-lg-3 col-sm-6 m-b-30">
					<div class="box border-box rounded p-25 text-center transition-3d-hover">
						<div class="square-80 box rounded m-auto d-flex center-center m-b-30">
							<i class="fa fa-phone f-s-22 text-color-primary"></i>
						</div>
						<h6 class="m-b-10">Laundry Diproses</h6>
						<span>Tercatat : </span>
					</div>
				</div>
				<!-- item end -->

				<!-- item start -->
				<div class="col-lg-3 col-sm-6 m-b-30">
					<div class="box border-box rounded p-25 text-center transition-3d-hover">
						<div class="square-80 box rounded m-auto d-flex center-center m-b-30">
							<i class="fa fa-paper-plane-o f-s-22 text-color-primary"></i>
						</div>
						<h6 class="m-b-10">Laundry Diserahkan</h6>
						<span>Tercatat : </span>
					</div>
				</div>
				<!-- item end -->

				<!-- item start -->
				<div class="col-lg-3 col-sm-6 m-b-30">
					<div class="box border-box rounded p-25 text-center transition-3d-hover">
						<div class="square-80 box rounded m-auto d-flex center-center m-b-30">
							<i class="fa fa-fax f-s-22 text-color-primary"></i>
						</div>
						<h6 class="m-b-10">Selesai</h6>
                        <span>Tercatat : </span>
					</div>
				</div>
				<!-- item end -->
			</div>
		</div>
	</section>
	<!-- Contact Items End -->

    	<!-- Page Content Start -->
	<section class="p-b-120">
		<div class="container">
			<div class="row">
                <!-- item start -->
                <div class="col-lg-12 col-md-12 m-b-30">
                    <div class="box border-box overflow-hidden rounded">
                        <div class="p-50">

                            <h5 class="m-b-15 font-weight-bold">Detail Pemesanan</h5>
                            <div class="divider m-b-20"></div>

                            
                
                            <!-- profile card start -->
                            <div class="d-flex align-items-center m-b-20">
                                <div class="content w-100 flex-1">
                                    <div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class=" font-weight-bold">Nomor Resi</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=" font-weight-bold">#<%= data[0].IdOrders %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Status</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].NamaStatus %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Total Harga</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].totalbayar %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Waktu Awal Pemesanan</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].timestamp %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<h5 class="m-b-15 font-weight-bold">Data Pelanggan</h5>
                            <div class="divider m-b-20"></div>

                            
                
                            <!-- profile card start -->
                            <div class="d-flex align-items-center m-b-20">
                                <div class="content w-100 flex-1">
                                    <div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class=" font-weight-bold">Nama Lengkap</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=" font-weight-bold"><%= data[0].NAMALENGKAP %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Email</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].EMAIL %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Nomor Telepon</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].NOMORTELEPON %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Kode Pos</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].KODEPOS %></h6>
                                            </div>
                                        </div>
                                    </div>

									<div class="row d-flex align-items-center m-b-10">
                                        <div class="col-6">
                                            <h6 class="">Alamat</h6>
                                            <!-- <span class="">Jumlah 5 Kg</span> -->
                                        </div>
                                        <div class="col-1 text-right">
                                        </div>
                                        <div class="col-5 text-right row">
                                            <div class="col-9">
                                                <h6 class=""><%= data[0].ALAMAT%></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h5 class="m-b-15 font-weight-bold">Log Pemesanan</h5>
                            <div class="divider m-b-20"></div>

                            
                
                            <!-- profile card start -->
                            <div class="d-flex align-items-center m-b-20">
                                <div class="content w-100 flex-1">

                                    <% if (itemlogs.length > 0) { let i = 0; let b;%>
                                        <% for (let item of itemlogs) { i++ %>
                                    
                                            <div class="row d-flex align-items-center m-b-10">
                                                <div class="col-6">
                                                    <h6 class=" font-weight-bold"><%= item.NamaItem %>, <%= item.ket %></h6>
                                                    <span class="">Jumlah <%= item.quantity %>, Harga <%= item.tprice %></span>
                                                </div>
                                                <div class="col-1 text-right">
                                                </div>
                                                <div class="col-5 text-right row">
                                                    <div class="col-9">
                                                        <h6 class=" font-weight-bold">Status <%= item.NamaStatus %></h6>
                                                        <span class="">Tercetat pada <%= item.timestamp %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <h1>No Products Found!</h1>
                                    <% } %>
                                </div>
                            </div>
							
                            <!-- <div class="divider m-b-20"></div> -->

                            <!-- <div class="divider m-b-20"></div> -->
                            <!-- profile card end -->
                
                            <!-- <div class="row d-flex align-items-center">
                                <div class="col-5">
                                    <a href="#" class="f-s-16 text-color-reset link-text-d-n">
                                        <i class="fa fa-trash pull-left f-s-16 l-h-16 m-r-10"></i>
                                        <span class="pull-left f-s-16 l-h-18">Hapus</span>
                                    </a>
                                </div>
                                <div class="col-7">
                                    <a href="#" class="button button-primary-soft transition-3d-hover m-w-100">Details</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- item end -->
            </div> 
        </div>
    </section>
                        


<%- include('./public-partials/footer'); %>
<%- include('./public-partials/script'); %>
